.source-link {
  margin-top: -1rem;
  font-size: smaller;
  text-align: end;
}
.source-link > a {
  color: var(--vp-code-lang-color);
}
.hidden-heading {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
  scroll-margin-top: 64px;
}
