name: Build and test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22.17.0

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - run: npm ci
      - run: npm run build
      - run: SELENIUM_BROWSER=chrome npm test

      - uses: codecov/codecov-action@v5
        with:
          files: ./coverage/lcov.info
          name: Upload coverage to Codecov
          token: ${{ secrets.CODECOV_TOKEN }}
