name: Build and test
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22.17.0

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - run: yarn install
      - run: yarn run build
      - run: SELENIUM_BROWSER=chrome yarn test

      - uses: codecov/codecov-action@v5
        with:
          file: ./coverage/lcov.info
